In [25]:
import pandas as pd

def skewness(x3, var):
    return x3 + var # a dummy implementation, linear
    # return x3 / var**(3/2) # a real implementation, non-linear

In [26]:
r = pd.DataFrame(range(1,5), columns=['r'])
r

   r
0  1
1  2
2  3
3  4

In [29]:
# daily variance
r['var'] = r['r']**2

# daily third moment
r['x^3'] = r['r']**3

# daily skewness
r['skew'] = skewness(r['x^3'], r['var'])
r

   r  var  x^3  skew
0  1    1    1     2
1  2    4    8    12
2  3    9   27    36
3  4   16   64    80

In [28]:
# 2nd + 3rd aggregated moment
second_moment = r['var'].rolling(4).sum().dropna().mean()
third_moment = r['x^3'].rolling(4).sum().dropna().mean()

# skewness
skewness_1 = skewness(third_moment, second_moment)

# skewness aggregation
skewness_2 = r['skew'].rolling(4).sum().dropna().mean()
print(skewness_1, skewness_2)

130.0 130.0