In [32]:
import pandas as pd
import numpy as np

np.random.seed(0)

def skewness(x3, var):
    return x3 + var # a dummy implementation, linear
    # return x3 / var**(3/2) # a real implementation, non-linear

In [18]:
start_date = '2014-07-01'
end_date = '2014-07-05'
date_range = pd.date_range(start=start_date, end=end_date, freq='D')
time_range = pd.date_range(start='09:35', end='16:05', freq='5min')[:-1]  # Trading hours making it actually end at 16:00

# Create a full DatetimeIndex for all trading days and intraday times
datetime_index = pd.DatetimeIndex([pd.Timestamp(f'{day.date()} {time.time()}') for day in date_range for time in time_range])

In [19]:
r = pd.DataFrame(np.random.uniform(0,1,78*5), columns=['r'], index = datetime_index)
r

                            r
2014-07-01 09:35:00  0.917539
2014-07-01 09:40:00  0.757734
2014-07-01 09:45:00  0.061301
2014-07-01 09:50:00  0.572633
2014-07-01 09:55:00  0.567441
...                       ...
2014-07-05 15:40:00  0.909558
2014-07-05 15:45:00  0.236564
2014-07-05 15:50:00  0.213707
2014-07-05 15:55:00  0.762233
2014-07-05 16:00:00  0.486374

[390 rows x 1 columns]

In [28]:
# squared returns
r['var'] = r['r']**2

# cubed returns
r['x^3'] = r['r']**3

In [33]:
# daily aggration
daily_r = r.resample('D').agg({'var': 'sum', 'x^3': 'sum'})
daily_r['skewness'] = skewness(daily_r['x^3'], daily_r['var'])
daily_r

                  var        x^3   skewness
2014-07-01  24.700981  18.243747  42.944728
2014-07-02  28.337612  22.436945  50.774557
2014-07-03  27.040325  20.841155  47.881479
2014-07-04  27.065629  20.109071  47.174700
2014-07-05  24.843222  18.323709  43.166932

In [34]:
# 2nd + 3rd aggregated moment
second_moment = daily_r['var'].rolling(2).sum().dropna().mean()
third_moment = daily_r['x^3'].rolling(2).sum().dropna().mean()

# skewness
skewness_1 = skewness(third_moment, second_moment)

# skewness aggregation
skewness_2 = daily_r['skewness'].rolling(2).sum().dropna().mean()
print(skewness_1, skewness_2)

94.44328327969556 94.44328327969556